name: Render PlantUML
on:
  push:
    paths:
      - '**.puml'
      - '**.plantuml'

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Generate PNGs
        uses: cloudbees/plantuml-github-action@master
        with:
          args: -v -tpng *.puml

      - name: Commit and Push Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "chore: auto-generate diagrams" || exit 0
          git push
